- provide(:title, 'About')

:markdown
  What's Going On?
  ================

  I was asked to do a simple sample Ruby on Rails site
  as part of a job screening. Part of the instructions included
  "Be creative and have fun." So I'm using the excuse to explore
  some technologies that have been on back-burner parts of
  my todo list for months now.

  Odds are, there isn't anything interesting in the site at
  all. You certainly shouldn't take its opinions seriously.
  The actual web site should never be considered anything more
  than an amusement piece.
