- provide(:title, 'Help')
%h1 How's This Work?
%p Enter a human's body mass and height.

%p Based on stringent scientific statistical analysis*
-# How do I do footnotes?
the highly sophisticated AI, which is a gestalt of
multiple data centers all over the world, will try to
guess whether that human is physically male or female.

-# Seriously. Footnote.
%p * Note: Like most random websites you run across,
this is complete and utter balderdash. Please do not
take this seriously.

