- provide(:title, 'Help')

:markdown
  How's This Work?
  ================


  Enter a human's body mass and height.

-# How do I do footnotes?
:markdown
  Based on stringent scientific statistical analysis*
  the highly sophisticated AI, which is a gestalt of
  multiple data centers all over the world, will try to
  guess whether that human is physically male or female.

-# Seriously. Footnote.
:markdown
  \* Note: Like most random websites you run across,
  this is complete and utter balderdash. Please do not
  take this seriously.

