# Don't even want to ever be tempted to ever add this to source control
.secret

# FIXME: Move this to a more global setting
*~

*.gem
*.rbc
.bundle
.config
coverage
/db/*.sqlite3
/db/*.sqlite3-journal
InstalledFiles
lib/bundler/man
/log/*.log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
