/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

/* Site-wide color scheme.
 * It seems nice in theory (aside from not working), though it doesn't seem to be working. */

$background: #818181;

/* Reddish-brown */
$primary-color: #754427;
/* Really dark brown */
$header-font-color: #28170e;
/* Brown */
$subheader-font-color: #4e3e1b;
$small-font-color: $primary-color;
/* Purplish */
$anchor-font-color-hover: #2f1e52;
$microformat-border-color: #676767;

body,html {
    background:$background;
}

.top-bar {
    background:$background;
}